@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mona Sans", serif;
}
.about-container,.education-container,
.experience-container,.skills-container,
.certificates-container,.contact-container{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}